{% extends 'base.html' %}

{% block csscontent %}
<style type="text/css">
    .mynav{
        margin-bottom: 0 !important;
    }
    header{
        background: #eee;
        height: 6rem;
    }
    header h1{
        font-size: 2.2rem;
    }

    .toolbar{
        margin: 20px 20px;
    }
    th{
        background: #eee;
    }


</style>
{% endblock %}

{% block content %}
<header>
    <div class="container">
        <h1>教师管理</h1>
    </div>
</header>

<div class="container toolbar">
    
<a href="/add_teacher" type="button" class="btn btn-info">添加</a>

</div>


<div class="container table-responsive">
    
<table class="table table-bordered  table-hover text-center ">

  <thead>
    <tr>
      <th class="text-center">姓名</th>
      <th class="text-center">职位</th>
      <th class="text-center">简介</th>
      <th class="text-center">编辑</th>
      <th class="text-center">删除</th>
    </tr>
  </thead>
  <tbody>

    {% for item in data.teachers %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.position}}</td>
      <td>
      {{item.intro}}
      </td>
      <td><a href="/edite_teacher/{{item.id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td> <a href="#" onclick="removemodel('{{item.id}}','{{item.name}}')" ><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
     {% endfor %}
  </tbody>
</table>

</div>


<!--  -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">确定要删除吗</h4>
            </div>
            <div class="modal-body">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary commit" >提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--  -->

{% endblock %}


{% block script %}
<script type="text/javascript" src='static/teacher.js'>
    
</script>
{% endblock %}