{% extends 'base.html '%}

{% block styles %}
<style type="text/css">
    header{
        background: #eee;
        height: 7rem;
    }

    header h1{
        font-size: 3rem;
    }
    .mynav{
        /*!important 优先加载，必须加载*/
        margin-bottom: 0 !important;
    }
    .mybtn{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    th{
        background: #eee;
    }
</style>
{% endblock %}

{% block content%}

<!-- 头部信息 -->
<header>
    <div class="container">
        <h1>视频管理</h1>
    </div>
    
</header>


<!-- 一对按钮 bootstrap的按钮 -->
<div class="container mybtn">

<!-- class="btn btn-info"  把a标签装成城按钮 -->
<a type="button" href="/add_video/{{data.id}}" class="btn btn-info">添加</a>

</div>


<!-- 表格 -->

<div class="container table-responsive text-center">
<table class="table table-bordered table-hover">
 
  <thead >
    <tr >
      <th class="text-center">序号</th>
      <th class="text-center">名称</th>
      <th class="text-center">介绍</th>
       <th class="text-center">讲师</th>
      <th class="text-center">播放次数</th>
      <th class="text-center">时长</th>
      <th class="text-center">编辑</th>
      <th class="text-center">删除</th>
    </tr>
  </thead>
  <tbody>
  {% for item in data.videos %}
    <tr>
    <!-- loop 是针对于for循环的  -->
    <!-- loop.index 当前循环的索引，默认从1开始 -->
      <td>{{loop.index}}</td>
      <td>{{item.title}}</td>
      <td>{{item.abstract}}</td>
      <td>{{data.teachers[loop.index-1]}}</td>
      <td>{{item.hits}}</td>
      <td>{{item.time}}</td>
      
      
        
    <td><a href="/edite_course/" >
          <span class="glyphicon glyphicon-edit"></span>
        </a></td>
        <!-- 传的变量需要加引号 -->
    <td><a href="#" onclick="removemodal('','')">
          <span class="glyphicon glyphicon-trash"></span>
        </a></td>

    </tr>
   {% endfor %}
  </tbody>
</table>


</div>

<!--  表格外边  模态框-->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">确认要删除吗</h4>
            </div>
            <div class="modal-body">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary remove">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


{% endblock %}

{% block script %}
<!-- {{url_for('static',filename='course.js') }}-->
<script type="text/javascript" src="/static/course.js"></script>
{% endblock %}
